{% extends 'base.html.twig' %}

{% block title %}
	Modèle
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container">
		<h1 class="text-center">Liste des modèles</h1>
		<a href="{{path('admin.model.create')}}" class="btn btn-primary">Créer un modèle</a>

		<div>
			{% for model in models %}

				<h3>{{model.name|capitalize }}</h3>
				<p>{{model.enable ? 'Actif' : 'Inactif' }}</p>
				<p>Slug:
					{{model.slug}}</p>

				<a href="{{path('admin.model.update', {id: model.id})}}" class="btn btn-primary">Modifier</a>
				{% include "Backend/Model/__deleteForm.html.twig" %}
			{% endfor %}
		</div>
	</section>
{% endblock %}
