{% extends 'base.html.twig' %}

{% block title %}
	Image des produits
	{{ parent() }}
{% endblock %}

{% block body %}

	<section class="container">
		<h1 class="text-center">Administration des images</h1>
		<a href="{{path('admin.productImage.create')}}" class="btn btn-primary">Créer une image</a>
		<div>
			{% for productImage in productsImages %}
				<h3>{{productImage.imageName|capitalize}}</h3>
				<p>{{productImage.imageSize}}</p>
				<a href="{{path('admin.productImage.update', {id: productImage.id})}}" class="btn btn-primary">Modifier</a>
			{% endfor %}
		</div>
	</section>

{% endblock %}
