{% extends 'base.html.twig' %}

{% block title %}
	Genre
	{{ parent() }}
{% endblock %}
{% block body %}
	<section class="container">
		<h1 class="text-center">Administration des genres</h1>
		<a href="{{path('admin.gender.create')}}" class="btn btn-primary">Créer un Genre</a>
		<div>
			{% for gender in genders %}

				<h3>{{ gender.name }}</h3>
				<p>{{ gender.enable ? 'Actif' : 'Inactif' }}</p>
				<a href="{{path('admin.gender.update', {id:gender.id} ) }}" class="btn btn-primary">Modifier</a>
				{% include "Backend/Gender/__deleteForm.html.twig" %}

			{% endfor %}
		</div>
	</section>
{% endblock %}
